<div class="container" [ngStyle]="{'background-color':'#E67E22'}">
    <app-form-button (changeC)="getWeathercity($event)"></app-form-button>
    <h2 *ngIf="weather.name">{{weather.name}}, {{weather.sys.country}}</h2>
    <div class="temperature">
            <p>{{weather.main.temp}}&#176;<span>C</span></p>
    </div>
    <app-frame-content 
        [tempMin]="weather.main.temp_min"
        [tempMax]="weather.main.temp_max"
        [wind]="weather.wind.speed"
        [cloud]="weather.clouds.all"
        [pressure]="weather.main.pressure"
        [humidity]="weather.main.humidity"
    >
    </app-frame-content>
</div>

