/* You can add global styles to this file, and also import other style files */
:root{
    --main-font-fa:'Poppins', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:var(--main-font-fa);
    user-select: none;
}
/*container of frame*/
.container{
    max-width: 350px;
    max-height: 80%;
    margin:30px auto;
    border: 1px solid black;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    align-items:baseline;
}
@media (max-width: 768px){ 
    .division{
        display: flex;
        justify-content:space-between;
        margin-top:30px;
    }
    .container{
        max-width: 560px;
        max-height: 90%;
    }
}
@media (max-width: 480px){
    .division{
        display: flex;
        justify-content:space-between;
        margin-top:30px;
    }
    .container{
        max-width: 460px;
        max-height: 90%;
    }
    .details{
        width: 200px;
    }
}
 
/*
mobile-portrait: min:320px - max:479px;

mobile-landscape: min:480px - max:599px;

small-tablet-portrait: min:600px - max:799px;

small-tablet-landscape: min:800px - max:767px;

tablet-portrait: min:768px - max:1023px;

tablet-landscape: min:1024px;
*/
