
.form-container{
    position: relative;
    padding:5px;
    display: flex;
    justify-content: flex-end;
}
.form-container input{
    width:280px;
    height: 40px;
    padding:0 20px;
    font-size: 18px;
    color:black;
    outline: none;
    border: 1px  solid silver;
    border-radius: 30px;
}
.btn{
    position: absolute;
    top:0;
    right:0;
    width:55px;
    height: 55px;
    line-height: 55px;
    background-color:steelblue;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-radius:50%;
    cursor: pointer;
}