
.form-container{
    position: relative;
    margin-top:15px;
    padding:5px;
    display: flex;
    justify-content: flex-end;
}
.form-container input{
    width:0px;
    height: 40px;
    padding:0 20px;
    font-size: 18px;
    color:black;
    outline: none;
    border: 1px  solid silver;
    border-radius: 30px;
    transition: all 1s ease;
}
.btn{
    position: absolute;
    top:0;
    right:0;
    width:55px;
    height: 55px;
    line-height: 55px;
    background-color:steelblue;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-radius:50%;
    cursor: pointer;
}
.form-container:hover input{
    width:240px;
}
.form-container input:focus{
    width:240px;
}